@{
    ViewData["Title"] = "Welcome to ePark";
}

<div class="welcome-page">
    <div class="welcome-content text-center">
        <h1>Welcome to ePark</h1>
        <p>Please click the button below to login and start using the application.</p>
        <a class="btn btn-primary" href="@Url.Action("Login", "Account")">Login</a>
    </div>
</div>
