.navbar.fixed-bottom {
    background-color: #fff; /* Achtergrondkleur van de navbar */
}

.nav-link {
    color: #333; /* Kleur van de iconen en tekst */
    font-size: 1.5rem;
}

    .nav-link:hover {
        color: #007bff; /* Kleur wanneer je over een icoon/text hovert */
    }

.nav-text {
    display: block;
    font-size: 0.75rem; /* Grootte van de tekst */
}
